@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.iconify{
    color: white;
    margin-left: 5px;
}
.navbar-toggler{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    border: none !important;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
li{
    float: left;
}
}
#a1{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    &:hover{
        color: #f96f6c;
    }
    &:focus{
        color: #f96f6c;
    }
}
.el1{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: "Oswald";
    margin-top: 20px;
    &:hover{
        color: white;
    }
}
.el2{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: "Oswald";
    font-weight: 200;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 14px;
    &:hover{
        color: white;
    }
}
.mainImg{
    position: relative;
}
.mainImg::before{
    content: "";
    background-image:  url(../img/maini.webp);
    background-position: center;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.1) invert(15%) brightness(0.6);
    position: absolute;
}
.mainImg1{
    position: relative;
}
.mainTxt{
    color: white;
    text-align: center; 
    font-size: 90px;
    font-family: "Oswald";
    letter-spacing: 2px;
    padding-top: 10%;
}
.mainTxt1{
    color: white;
    text-align: center; 
    font-size: 28px;
    font-family: "Oswald";
    letter-spacing: 3.2px;
    font-weight: 200;
}
.mainBtn{
    color: white;
    background-color: #E50E0B;
    margin-top: 8%;
    padding: 10px 60px;
    border: none;
    font-family: "Oswald";
    font-size: 22px;
    transition: 0.3s;
    &:hover{
        background-color: #dd5a57;
        transition: 0.3s;
    }
}
.section2img1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background: linear-gradient(to top, #122953ba), url(../img/section2img1.webp) no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        transform: scale(1.02);
        transition: 0.5s;
    }
a{
    color: white;
    font-family: "Oswald";
    font-size: 90px;
    transition: 0.3s;
    text-decoration: none !important;
&:hover{
    color: #E50E0B;
    transition: 0.1s;
}
}
}
.section2img2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background: linear-gradient(to top, #ff4646ba), url(../img/section2img2.webp) no-repeat;
    background-size:cover;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        transform: scale(1.02);
        transition: 0.5s;
    }
a{
    color: white;
    font-family: "Oswald";
    font-size: 90px;
    transition: 0.3s;
    text-decoration: none !important;

&:hover{
    color: #E50E0B;
    transition: 0.1s;
}
}
}
.sectionTxt{
    color: #2B2B2B;
    text-align: center;
    font-family: "Oswald";
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 5px;
    padding-top: 100px;
}
.sectionTxt1{
    color: #091d35;
    text-align: center;
    font-family: "Oswald";
    font-size: 48px;
}
.cTitle{
    font-family: "Oswald";
    font-size: 32px;
    color: #2B2B2B;
    text-decoration: none;
    transition: 0.1s;
    &:hover{
        color: #E50E0B;
        transition: 0.5s;
    }
}
.cText{
    font-family: "Oswald";
    font-weight: 200;
    letter-spacing: normal;
    font-size: 18px;
}
.cPrice{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #2B2B2B;
}
.cELem{
    display: flex;
}
.cTxt{
    font-family: "Oswald";
    font-size: 20px;
    color: #2B2B2B;
}
.cImgBtn{
    border: none;
    background-color: #E50E0B;
    color: white;
    padding: 3.5px 25px;
    font-family: "Oswald";
    letter-spacing: 2px;
    font-size: 18px;
    position: absolute;
    margin-top: 220px;
}
label{
    color: white;
}
input{ 
    background-color: #1d2d42 !important;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    box-sizing: border-box;
    border-color: white;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    &:hover{
    border-bottom-width: 3px;
    margin-bottom: -2px;
    }
    &:focus{
    border-bottom-width: 3px;
    margin-bottom: -2px;
    }
}

#email:invalid{
    border-color: #E50E0B;
}
textarea{
    background-color: #1d2d42 !important;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    resize: none;
    outline: none;
    border-color: white;
    color: white;
    width: 100%;
    height: 100px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    &:hover{
        border-bottom-width: 3px;
    }
    &:focus{
        border-bottom-width: 3px;
    }
}
.footerTxt{
    color: white;
    font-family: "Oswald";
    position: absolute;
    margin-left: 80px;
    margin-top: 25px;
    font-size: 26px;
}
.footerTxt1{
    color: white;
    font-family: "Oswald";
    font-weight: 200;
    margin-left: 90px;
    margin-top: 32px;
    letter-spacing: 3.2px;
}
.footerM{
    color: white;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    &:first-child{
        padding-top: 15px;
    }
    &:hover{
        color: white;
    }
}
@media only screen and (max-width: 1024px){
    #jko{
        margin-top: 100px;
        font-size: 42px;
    }
    #blockR1{
        flex-direction: column;
    }
    .col-6{
        max-width: 100% !important;
    }
    .col-6 a{
        font-size: 150px;
    }
}
@media only screen and (max-width:1440px) {

    .card-body .cTitle{
        font-size: 20px;
    }
    .col-4{
        display: flex !important;
        justify-content: center;
        max-width: 100% !important;
        flex: 100% !important;
    }
    .card{
        width:90% !important;
    }
    .cImgBtn{
        margin-top: 422px;
    }
    #blockR2{
        flex-direction: column;
        height: 800px;
    }
    .cText{
        font-size: 30px !important;
    }
    .cTxt{
        font-size: 30px;
    }
    .cTitle{
        font-size: 40px !important;
    }
    .cPrice{
        font-size: 32px;
    }
    #dd1{
        text-align: center;
    }
    #a1{
        white-space: pre-line;text-align: center;
    }
}
// --------------------------------------------------------Properties All-------------------------------------------------------- //
.propertiesImg, .propertiesImgBuy, .propertiesImgRent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background: linear-gradient(to top, #122953ba), url(../img/main2.webp) no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
        .propTxt{
        color: white;
        text-align: center; 
        font-size: 28px;
        font-family: "Oswald";
        letter-spacing: 3.2px;
        font-weight: 200;
        }
        .propTextB{
            color: white;
            text-align: center;
            font-size: 48px;
            font-family: "Oswald";
        }
    }
    .propertiesImgBuy{
        background: linear-gradient(to top, #122953ba), url(../img/main3.webp) no-repeat;
}
    .propertiesImgRent{
        background: linear-gradient(to top, #122953ba), url(../img/main4.webp) no-repeat;
    }
